/* -------------social------------- */
.social {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 16px;
}

.social__item {
  width: 44px;
  height: 44px;
}

.social__link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: transparent;
  color: var(--color-icons);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  background-color: $ColorAccent;
  color: $ColorAccentWhite;
  }

  &--accent {
  background-color: var(--icon-transparency-color);
  color: $ColorAccentWhite;
  }

  &--accent:hover,
  &--accent:focus {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  background-color: $ColorAccent;
  }
}

.social__icon {
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  fill: currentColor;
}
