:root {
  --primery-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --accent-text-color: #fff;
  --primery-bg-color: #fff;
  --accent-bg-color: #fff;
  --footer-bg-color: #2f303a;
  --button-bg-volor-porfolio: #f5f4fa;
  --section-bg-color: #f5f4fa;
  --text-transparency-color: rgba(255, 255, 255, 0.6);
  --icon-transparency-color: rgba(255, 255, 255, 0.1);
  --color-icons: #afb1b8;
}

$mainWidth: 1200px;
$MaxWidth: 1600px;
$SizePadding: 94px;
$BorderRadius: 4px;

$ColorAccent: #2196f3;
$ColorPrimeryText: #757575;
$ColorTitleText: #212121;
$ColorAccentWhite: #fff;
$ColorBgPrimery: #fff;
$ColorBgFooter: #2f303a;
$ColorBtnPortfolio: #f5f4fa;

$ColorWorkBox: rgba(47, 48, 58, 0.8);

$MainFont: Roboto;
$FontFamily: sans-serif;
