/* -------------Переваги section benefits------------- */

.section__list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

.card-benefits {
  // width: 270px;
  width: 100%;
  @media screen and(min-width: 768px) {
    width: calc((100% - 30px) / 2);
  }
  @media screen and(min-width: 1200px) {
    width: calc((100% - 90px) / 4);
  }
}

.card-benefits__box-icon {
  display: flex;
  height: 120px;
  align-items: center;
  justify-content: center;
  background-color: var(--section-bg-color);
  border-radius: 4px;
  margin-bottom: 30px;
}

.card-benefits__icon {
  width: 70px;
  height: 70px;

}

// .section__icon {
//   display: flex;

//   &--box {
//   height: 120px;
//   align-items: center;
//   justify-content: center;
//   background-color: var(--section-bg-color);
//   border-radius: 4px;
//   margin-bottom: 30px;
//   }
// }

.card-benefits__title {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--title-text-color);
  @include font(700, 14px, 1.14, null);
  // font-weight: 700;
  // font-size: 14px;
  // line-height: 1.14;
  text-transform: uppercase;
}

.card-benefits__text {
  margin-top: 0;
  margin-bottom: 0;
  @include font(400, 14px, 1.71, null);
  // font-weight: 400;
  // font-size: 14px;
  // line-height: 1.71;
}

