/* -------------customers------------- */

.customer__list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.customer__card {
  // width: 210px;
  height: 92px;
  width: calc((100% - 30px) / 2);
  // border: 1px solid #afb1b8;
  // border-radius: 4px;
  @include tablet {
    // width: 226px;
    width: calc((100% - 60px) / 3);
  }
  @include desktop {
    // width: 170px;
    width: calc((100% - 150px) / 6);
  }
}

.customer__link {
  width: 100%;
  height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-icons);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--accent-color);
  // border-color: inherit;
  border-color: var(--accent-color);
  }
}

.customer__icon {
  fill: currentColor;
}
