/* -------------customers------------- */

.customer__list {
  display: flex;
  gap: 30px;
}

.customer__card {
  width: 170px;
  height: 92px;
}

.customer__link {
  width: 100%;
  height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-icons);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--accent-color);
  border-color: inherit;
  }
}

.customer__icon {
  fill: currentColor;
}
