/* -------------footer------------- */
.section-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--footer-bg-color);
}

.section-footer__list {
  flex-direction: column;
  align-items: center;
  display: flex;
  // justify-content: flex-start;
  gap: 70px;
  @include desktop {
    flex-direction: row;
    justify-content: flex-start;
  }
}

.footer-kontact {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  @include desktop {
    flex-direction: row;
    justify-content: flex-start;
  }
}

.footer-kontact__list {
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  @include desktop {
    flex-direction: row;

  }
}

.footer-kontact__item:not(:last-child) {
  margin-bottom: 8px;
  @include desktop {
    margin-bottom: 9px;
  }
}

.footer-kontact__link {
  color: var(--text-transparency-color);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;

  &--accent {
  color: var(--accent-text-color);
  }

  &:hover,
  &:focus {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--accent-color);
  }
}

.footer-social {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  @include desktop {
    flex-direction: row;

  }
}

.footer-social__title {
  margin: 0;
  padding-bottom: 20px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: var(--accent-text-color);
  
}

.footer-kontact + .footer-social {
  @include tablet {
    display: flex;
    // gap: 165px;
  }
}

.footer-subs {
  // margin-left: 23px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  @include desktop {
    display: flex;
    margin-left: 23px;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
}

.footer-subs__box {
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  @include desktop {
  flex-direction: row;
  gap: 12px;
  align-items: flex-start;
  }
}

.footer-subs__input {
  width: 358px;
  height: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.footer-subs__button {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 1px solid transparent;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--accent-bg-color);

  cursor: pointer;
}