/* -------------hero------------- */

.hero {
  width: 100%;
  margin: 0 auto;
  padding: 118px 60px;
  background-color: var(--footer-bg-color);
  text-align: center;
  flex-grow: 1;
  background-image: $bgLinearGradient,
    url("../images/mobil/img-logo.jpg");
  @include retina {
    background-image: $bgLinearGradient,
    url("../images/mobil/img-logo-2x.jpg");
  }
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  @include tablet {
    background-image: $bgLinearGradient,
    url("../images/tablet/img-logo.jpg");
  @include retina {
    background-image: $bgLinearGradient,
    url("../images/tablet/img-logo-2x.jpg");
  }
  }
  @include desktop {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: $bgLinearGradient,
      url("../images/img-logo.jpg");
    @include retina {
      background-image: $bgLinearGradient,
        url("../images/img-logo-2x.jpg");
    }
  }
}

.hero__title {
  // width: 360px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  @include font(900, 26px, 1.62, 0.06em);
  
  text-transform: uppercase;
  text-align: center;
  color: var(--accent-text-color);
 
  @include desktop {
    width: 696px;
    @include font(900, 44px, 1.36, 0.06em);

  }
}