/* -------------section-team------------- */
.section-team {
  padding-top: $SizePadding;
  padding-bottom: $SizePadding;
  background-color: var(--section-bg-color);
  text-align: center;
}

.section-team__list {
  display: flex;
  justify-content: space-between;
}

.section-team__card {
  width: 270px;
  background: var(--accent-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.section-team__box {
  padding-top: 30px;
  padding-bottom: 30px;
}

.section-team__title {
  margin: 0;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.section-team__text {
  margin: 0;
  margin-top: 10px;
  color: var(--primery-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
}